In [1]:
# 金融・財務関連の計算式

# library
import os
import numpy as np
import numpy_financial as npf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./data/finance_value.csv')  #  データ・セット

In [3]:
df

   Rate  Nper  Pmt     Pv
0  0.06    60 -200  10000

In [4]:
d_rate = df['Rate']

In [5]:
d_nper = df['Nper']

In [6]:
d_pmt = df['Pmt']

In [7]:
d_pv = df['Pv']

In [8]:
# 将来の投資価値の計算
print(npf.fv(rate=np.divide(d_rate, 12), nper=d_nper, pmt=d_pmt, pv=d_pv))

[465.50457648]

In [9]:
print(npf.rate(nper=d_nper, pmt=d_pmt, pv=d_pv, fv=465.50447648) * 12)  # 将来価値が465.50477648とした場合

[0.06]

In [10]:
# 実効年利の計算
nper = d_nper

In [11]:
effect = (1 + np.divide(d_rate, nper)) ** d_nper - 1

In [12]:
effect

0    0.061805
dtype: float64

In [13]:
print('実効年利: ', effect)

実効年利:  0    0.061805
dtype: float64

In [14]:
# IRR
df_cashflow = pd.read_csv('./data/cash_flow.csv')

In [15]:
df_cashflow

   id  cashflow
0   0     -4000
1   1      5000
2   2      8000
3   3     12000

In [16]:
IRR = npf.irr(df_cashflow['cashflow'])  # np.irrで内部収益率が計算出来る

In [17]:
print('IRR(内部収益率): ',IRR)

IRR(内部収益率):  1.5176707510192329

In [18]:
# 複利の計算
"""
1年間運用して4%の複利を得て、追加で100万円の元本を積立した場合
principal = 100  # 元本
compound_interest = 0.04  # 複利
# tsumitate = 100
accumulation = 100  #  積立
"""

'\n1年間運用して4%の複利を得て、追加で100万円の元本を積立した場合\nprincipal = 100  # 元本\ncompound_interest = 0.04  # 複利\n# tsumitate = 100\naccumulation = 100  #  積立\n'

In [19]:
df_principal = pd.read_csv('./data/principal.csv')

In [20]:
df_principal

   id  principal  compound_interest  accumation
0   0        100               0.04         100

In [21]:
d_principal = df_principal['principal']  # 元本

In [22]:
d_compound_interest = df_principal['compound_interest']  # 利率

In [23]:
d_accumation = df_principal['accumation']  # 積立

In [26]:
total = d_principal*(1+d_compound_interest) + d_accumation

In [27]:
print("元本と複利の合計", total)

元本と複利の合計 0    204.0
dtype: float64

In [28]:
"""
将来価値fv=0とした場合の現在価値の計算
npf.pv(rate, nper, pmt, fv)
"""
fv = npf.pv(rate=df['Rate'], nper=df['Nper'], pmt=df['Pmt'], fv=0)

In [29]:
print("現在価値: fv0", fv)

現在価値: fv0 [3232.28554105]